.capitalize {
  text-transform: capitalize;
}

.lemon-accent-line {
  display: block;
  height: 0px;
  border-bottom: 3px solid $lemon-accent;
}

.lemon-icon-button {
  display: inline-block;
  cursor: pointer;
  width: $lemon-icon-button-container;
  height: $lemon-icon-button-container;
  margin: 5px 10px;
  padding: 0 5px;
  line-height: $lemon-icon-button-container;
  text-align: center;
  font-size: $lemon-icon-button-size;
  border-radius: 3px;
}

.lemon-icon-button-auto, .lemon-icon-button-light {
  @extend .lemon-icon-button;
  color: $lemon-primary;
}
.lemon-icon-button-auto:hover, .lemon-icon-button-light:hover {
  color: $lemon-bg-primary;
  background-color: lighten($lemon-primary,10);
  box-shadow: 0 0 4px 1px rgba(100,100,100,0.2);
}

.lemon-icon-button-invert, .lemon-icon-button-dark {
  @extend .lemon-icon-button;
  color: $lemon-primary-dark;
}
.lemon-icon-button-invert:hover, .lemon-icon-button-dark:hover {
  color: $lemon-bg-primary-dark;
  background-color: lighten($lemon-primary-dark,10);
  box-shadow: 0 0 4px 1px rgba(100,100,100,0.2);
}

// Dark Mode
@media(prefers-color-scheme: dark) {

  .lemon-icon-button-auto {
    color: $lemon-primary-dark;
  }
  .lemon-icon-button-auto:hover {
    color: $lemon-bg-primary-dark;
    background-color: lighten($lemon-primary-dark,10);
    box-shadow: 0 0 4px 1px rgba(100,100,100,0.2);
  }

  .lemon-icon-button-invert {
    color: $lemon-primary;
  }
  .lemon-icon-button-invert:hover {
    color: $lemon-bg-primary;
    background-color: lighten($lemon-primary,10);
    box-shadow: 0 0 4px 1px rgba(100,100,100,0.2);
  }

}
