.capitalize {
  text-transform: capitalize;
}

.lemon-accent-line {
  display: block;
  height: 0px;
  border-bottom: 3px solid $lemon-accent;
}

.lemon-button {
  display: inline-block;
  height: $lemon-graphic-button-size;
  cursor: pointer;
}
.lemon-button-line {
  width: $lemon-graphic-button-size;
  height: $lemon-graphic-button-features;
  border-radius: $lemon-graphic-button-features;
}
.lemon-button-line-color {
  background-color: $lemon-primary;
  :hover > & { background-color: darken($lemon-primary,5) }
}

.lemon-button-hamburger-line1 {
  @extend .lemon-button-line;
  @extend .lemon-button-line-color;
  transform: translateY(($lemon-graphic-button-size - ($lemon-graphic-button-features * 3)) / 4);
}
.lemon-button-hamburger-line2 {
  @extend .lemon-button-line;
  background-color: inherit;
  transform: translateY((($lemon-graphic-button-size - ($lemon-graphic-button-features * 3)) / 4) + $lemon-graphic-button-features);
}
.lemon-button-hamburger-line3 {
  @extend .lemon-button-line;
  background-color: inherit;
  transform: translateY((($lemon-graphic-button-size - ($lemon-graphic-button-features * 3)) / 4) + $lemon-graphic-button-features);
}

.lemon-button-x-line1 {
  @extend .lemon-button-line;
  @extend .lemon-button-line-color;
  transform: translateY($lemon-graphic-button-size/2) rotate(45deg);
}
.lemon-button-x-line2 {
  @extend .lemon-button-line;
  background-color: inherit;
  transform: rotate(90deg);
}

// Dark Mode
@media(prefers-color-scheme: dark) {
  .lemon-button-line-color {
    background-color: $lemon-primary-dark;
    :hover > & { background-color: darken($lemon-primary-dark,5) }
  }
}
