.ms-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  height: 100vh;
  width: $lemon-ms-menu-width;
  background-color: $lemon-bg-secondary;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.ms-icon-button {
  display: block;
  width: auto;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.ms-icon-button-icon {
  display: inline-block;
  text-align: center;
  width: $lemon-icon-button-container
}

.ms-menu-left {
  left: -$lemon-ms-menu-width;
  transition: left 0.3s linear
}
.ms-menu-left-icons-only {
  width: $lemon-ms-menu-icon-only-width;
  left: -$lemon-ms-menu-icon-only-width;
}
.ms-menu-left-visible { left: 0; }
.ms-menu-left > .ms-menu-header { text-align: left; }

.ms-menu-right {
  right: -$lemon-ms-menu-width;
  transition: right 0.3s linear;
}
.ms-menu-right-icons-only {
  width: $lemon-ms-menu-icon-only-width;
  right: -$lemon-ms-menu-icon-only-width;
}
.ms-menu-right-visible { right: 0; }
.ms-menu-right > .ms-menu-header { text-align: right; }

@media(prefers-color-scheme: dark) {
  .ms-menu {
    background-color: $lemon-bg-secondary-dark;
  }
}
