.ms-menu-open {
  display: inline-block;
  height: $ms-menu-button-size;
  cursor: pointer;
}
.ms-menu-button-open-line {
  width: $ms-menu-button-size;
  height: $ms-menu-button-features;
  border-radius: $ms-menu-button-features;
}
.ms-menu-button-open-line1 {
  @extend .ms-menu-button-open-line;
  background-color: $btn-primary;
  transform: translateY(($ms-menu-button-size - ($ms-menu-button-features * 3)) / 4);
  :hover > & { background-color: $btn-secondary; }
}
.ms-menu-button-open-line2 {
  @extend .ms-menu-button-open-line;
  background-color: inherit;
  transform: translateY((($ms-menu-button-size - ($ms-menu-button-features * 3)) / 4) + $ms-menu-button-features);
}
.ms-menu-button-open-line3 {
  @extend .ms-menu-button-open-line;
  background-color: inherit;
  transform: translateY((($ms-menu-button-size - ($ms-menu-button-features * 3)) / 4) + $ms-menu-button-features);
}

.ms-menu-close {
  display: block;
  height: $ms-menu-button-size + 20px;
  padding: 10px;
  background-color: $bg-primary;
  cursor: pointer;
}
.ms-menu-button-close-line {
  width: $ms-menu-button-size;
  height: $ms-menu-button-features;
  border-radius: $ms-menu-button-features;
}
.ms-menu-button-close-line1 {
  @extend .ms-menu-button-close-line;
  background-color: $btn-primary;
  transform: rotate(45deg);
  margin: $ms-menu-button-size/2 auto;
  :hover > & { background-color: $btn-secondary; }
}
.ms-menu-button-close-line2 {
  @extend .ms-menu-button-close-line;
  background-color: inherit;
  transform: rotate(90deg);
}

.ms-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  height: 100vh;
  width: $ms-menu-width;
  background-color: $bg-secondary;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.ms-menu-right {
  right: -$ms-menu-width;
  transition: right 0.4s linear;
}
.ms-menu-right-visible { right: 0; }

.ms-menu-left {
  left: -$ms-menu-width;
  transition: left 0.4s linear
}
.ms-menu-left-visible { left: 0; }

.ms-menu-item {
  display: block;
  height: 50px;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 50px;
  color: $text;
}
.ms-menu-item:hover {
  background-color: $bg-primary;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

@media(prefers-color-scheme: dark) {
  .ms-menu-button-open-line1 {
    background-color: $btn-primary-dark;
    :hover > & { background-color: $btn-secondary-dark; }
  }
  .ms-menu-button-close-line1 {
    background-color: $btn-primary-dark;
    :hover > & { background-color: $btn-secondary-dark; }
  }
  .ms-menu-close {
    background-color: $bg-primary-dark;
  }
  .ms-menu {
    background-color: $bg-secondary-dark;
  }
  .ms-menu-item {
    color: $text-dark;
  }
  .ms-menu-item:hover {
    background-color: $bg-primary-dark;
  }
}
