// Note that -dark attributes are a reference for the mode selected, not necessarily the brightness of the color.

// Colors
$accent: rgba(255,163,66,0.9);

$text: #00050A;
$btn-primary: #1080DD;
$btn-secondary: #0979D6;
$bg-primary: #FAFDFD;
$bg-secondary: #F5F7F9;

$text-dark: #FFFFF5;
$btn-primary-dark: #FAFBFF;
$btn-secondary-dark: #E5E6EA;
$bg-primary-dark: #292A2D;
$bg-secondary-dark: #343A40;

// MenuSlide
$ms-menu-button-size: 31px;               // The size of special menu buttons,
$ms-menu-button-features: 5px;            // The size of the features of special menu buttons
$ms-menu-width: 300px;                    // For compatability with small devices don't set this above 320px, or use a percentage.
